registry=https://pkgs.dev.azure.com/jibe-erp/_packaging/jibe-npm/npm/registry/
always-auth=true

; begin auth token
//pkgs.dev.azure.com/jibe-erp/_packaging/jibe-npm/npm/registry/:username=anton.bilchuck
//pkgs.dev.azure.com/jibe-erp/_packaging/jibe-npm/npm/registry/:_password=MmpmNnV3cGNoMmNyYnNobG53NnE1aWpncHpwbm00a3Bpc2Y3YnlqbTU1cGdsaWhjazVoYQ==
//pkgs.dev.azure.com/jibe-erp/_packaging/jibe-npm/npm/registry/:email=anton.bilchuck@jibe.solutions


//pkgs.dev.azure.com/jibe-erp/_packaging/jibe-npm/npm/:username=anton.bilchuck
//pkgs.dev.azure.com/jibe-erp/_packaging/jibe-npm/npm/:_password=MmpmNnV3cGNoMmNyYnNobG53NnE1aWpncHpwbm00a3Bpc2Y3YnlqbTU1cGdsaWhjazVoYQ==
//pkgs.dev.azure.com/jibe-erp/_packaging/jibe-npm/npm/:email=anton.bilchuck@jibe.solutions
; end auth token